{% extends 'base.html.twig' %}
{% block title %}Administración
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
	<script>
		let ruta_devolver_usuarios = "{{ path('devolver_usuarios') }}";
		let ruta_crear_usuario = "{{ path('crear_usuario') }}";
		let ruta_crear_empresa = "{{ path('crear_empresa') }}";
let ruta_borrar_usuario = "{{ path('borrar_usuario') }}";
let ruta_modificar_empresa = "{{ path('modificar_empresa') }}";
let ruta_modificar_usuario = "{{ path('modificar_usuario') }}";
let usuarios = true;
let empresas = true;
let rol = false;
let nombre = '';
let array_usu = [];
	</script>

	<script src="{{ asset('js/admin.js') }}" defer></script>


{% endblock %}
{%  block content %}
	<header class="hero is-primary is-small">
		<div class="hero-body">
			<div class="container">
				<div class="is-flex is-align-items-center is-justify-content-flex-start">
					<figure class="image is-64x64">
						<img src="{{ asset('img/BrandicoLogo2White.png') }}" alt="icono BRANDICO">
					</figure>
					<div style="white-space: nowrap; align-self: center">
						<h1 class="title">BRANDICO</h1>
					</div>
				</div>
				<div class="is-flex is-align-items-center is-justify-content-flex-start">
					<a href="{{ path('controlador_portal_inicio') }}" class="inicio">
						<span class="inicio-label">Inicio</span>
						<ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</div>
	</header>
	<main class="columns">
		<div class="column is-one-third">
			<h3>Filtrar:
			</h3>
			<div class="field">
				<label class="label">Nombre</label>
				<div class="control">
					<input class="input" id='input_nombre' type="text" placeholder="">
				</div>
			</div>
			<div class="field">
				<label class="label">Rol</label>
				<div class="control">
					<label class="checkbox">
						<input id='check_admin' type="checkbox">
						Solo Administradores</a>
				</label>

			</div>
		</div>
		<div class="field">
			<label class="label">Tipo</label>
			<div class="control">
				<label class="checkbox">
					<input id='check_usu' type="checkbox" checked>
					Usuarios</a>
			</label>
			<label class="checkbox">
				<input id='check_empresa' type="checkbox" checked>
				Empresas</a>
		</label>
	</div>
</div></div><div x-data="{open: false}">
<button @click="open = !open" id='crear-usu' class="button">
	<i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
</button>
<div id='crear-usuario' x-show="open" x-data="{usuario: true, empresa: false}">
	<h2>Añadir Usuario</h2>
	<div>
		<label for='radio-usu'>Usuario</label>
		<input @click="usuario = true, empresa = false" type='radio' name='tipo' id='radio-usu' value='usuario' checked>
		<label for='radio-empresa'>Empresa</label>
		<input @click="usuario = false, empresa = true" type='radio' name='tipo' id='radio-empresa' value='empresa'>
	</div>
	<div>
		<label for='input-correo'>Correo:</label>
		<input class='input' type='email' id='input-correo' required>
	</div>
	<div>
		<label for='input-pass'>Contraseña:</label>
		<input class='input' type='password' id='input-pass' required>
	</div>
	<div x-show="usuario">
		<label for='input-dni'>DNI:</label>
		<input class='input' type='text' id='input-dni' required>
	</div>
	<div x-show="empresa">
		<label for='input-cif'>CIF:</label>
		<input class='input' type='text' id='input-cif' required>
	</div>
	<div>
		<label for='input-nombre'>Nombre:</label>
		<input class='input' type='text' id='input-nombre' required>
	</div>
	<div x-show="usuario">
		<label for='input-ape'>Apellidos:</label>
		<input class='input' type='text' id='input-ape' required>
	</div>
	<div>
		<label for='input-nombre'>Teléfono:</label>
		<input class='input' type='text' id='input-tel' required>
	</div>
	<div x-show="usuario">
		<label for='select-rol'>Rol:</label>
		<select  id='select-rol'>
			<option value='0' selected>0 (Normal)</option>
			<option value='1'>1 (Admin)</option>
		</select>
	</div>
	<div x-show="empresa">
		<label for='input-dir'>Dirección:</label>
		<input class='input' type='text' id='input-dir' required>
	</div>
	<div x-show="empresa">
		<label for='input-prov'>Provincia:</label>
		<input class='input' type='text' id='input-prov' required>
	</div>
	<button class='button' id='btn-crear-usu'>CREAR</button>
</div>
<table class="table is-fullwidth column">
	<thead>
		<tr>
			<th>
				<abbr>Correo</abbr>
			</th>
			<th>
				<abbr>Nombre</abbr>
			</th>
			<th>
				<abbr>Apellidos</abbr>
			</th>
			<th>
				<abbr>Rol</abbr>
			</th>
			<th>
				<abbr>DNI/CIF</abbr>
			</th>
			<th>
				<abbr>Teléfono</abbr>
			</th>
			<th>
				<abbr>Dirección</abbr>
			</th>
			<th>
				<abbr>Provincia</abbr>
			</th>
			<th>
				<abbr>Acciones</abbr>
			</th>
		</tr>
	</thead>
	<tbody></tbody>
</table></div></main>{% endblock %}
