{% extends 'base.html.twig' %}
{% block title %}Administración
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css"/>
	<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
	<script>
		let ruta_devolver_usuarios = "{{ path('devolver_usuarios') }}";
let ruta_crear_usuario = "{{ path('crear_usuario') }}";
let ruta_borrar_usuario = "{{ path('borrar_usuario') }}";
let ruta_modificar_usuario = "{{ path('modificar_usuario') }}";
let ruta_perfil = "{{ path('getprofile')}}";
let usuarios = true;
let empresas = true;
let rol = false;
let nombre = '';
let array_usu = [];
	</script>
	<script src="{{ asset('js/admin.js') }}" defer></script>


{% endblock %}
{%  block content %}
	<header class="hero is-primary is-small">
		<div class="hero-body">
			<div class="container">
				<div class="is-flex is-align-items-center is-justify-content-flex-start">
					<figure class="image is-64x64">
						<img src="{{ asset('img/BrandicoLogo2White.png') }}" alt="icono BRANDICO">
					</figure>
					<div style="white-space: nowrap; align-self: center">
						<h1 class="title">BRANDICO</h1>
					</div>
				</div>
				<div class="is-flex is-align-items-center is-justify-content-flex-start">
					<a href="{{ path('controlador_portal_inicio') }}" class="inicio">
						<span class="inicio-label">Inicio</span>
						<ion-icon name="log-out-outline"></ion-icon>
					</a>
				</div>
			</div>
		</div>
	</header>
	<main class="columns">
		<div class="column is-one-third" x-data="{filtros: false, filtrar: true}" >
			<div class="buttons">
				<button id='btn-filtrar' @click="filtrar = true" class="button" :class="filtrar ? 'activo' : 'is-light'">
					<ion-icon name="search-outline"></ion-icon>
				</button>
				<button @click="filtrar = false" class="button" :class="!filtrar ? 'activo' : 'is-light'">
					<i class="fa-solid fa-user-plus"></i>
				</button>
			</div>

			<!-- FILTRAR (botón filtrar activo) -->
			<div id='formulario-filtrar' x-show="filtrar" x-transition x-cloak>
				<div class="title">Filtrar:</div>
				<div class="field">
					<label class="label">Nombre</label>
					<div class="control">
						<input class="input" id='input_nombre' type="text">
					</div>
				</div>
				<div class="field rotate" @click="filtros = !filtros" x-cloak>
					<label class="label" class="label" x-text="filtros ? 'Menos filtros' : 'Más filtros'"></label>
					<ion-icon class="rotate" name="caret-down-outline"></ion-icon>
				</div>
				<div class="field" x-show="filtros" x-cloak x-transition>
					<label class="label">Correo</label>
					<div class="control">
						<input class="input" id='input_correo' type="text">
					</div>
				</div>
				<div class="field" x-show="filtros" x-cloak x-transition>
					<label class="label">Dirección</label>
					<div class="control">
						<input class="input" id='input_direccion' type="text">
					</div>
				</div>
				<div class="field" x-show="filtros" x-cloak x-transition>
					<label class="label">Provincia</label>
					<div class="control">
						<input class="input" id='input_provincia' type="text">
					</div>
				</div>
				<div class="field" x-show="filtros" x-cloak x-transition>
					<label class="label">CIF</label>
					<div class="control">
						<input class="input" id='input_cif' type="text">
					</div>
				</div>

				<div class="field" x-cloak>
					<label class="label">Rol</label>
					<div class="control">
						<label class="checkbox">
							<input id='check_admin' type="checkbox">
							Solo Administradores
						</label>
					</div>
				</div>
				<div class="field" x-cloak>
					<label class="label">Tipo</label>
					<div class="control">
						<label class="checkbox">
							<input id='check_usu' type="checkbox" checked>
							Usuarios
						</label>
						<label class="checkbox">
							<input id='check_empresa' type="checkbox" checked>
							Empresas
						</label>
					</div>
				</div>
			</div>
			<!-- CREAR USUARIO (botón usuario activo) -->
			<div id='formulario-crear' x-show="!filtrar" x-data="{usuario: true, empresa: false}" x-transition x-cloak>
				<div class="title" x-cloak>Añadir Usuario</div>
				<div class="field" x-cloak>
					<label for='radio-usu'>Usuario</label>
					<input @click="usuario = true, empresa = false" type='radio' name='tipo' id='radio-usu' value='usuario' checked>
					<label for='radio-empresa'>Empresa</label>
					<input @click="usuario = false, empresa = true" type='radio' name='tipo' id='radio-empresa' value='empresa'>
				</div>
				<div class="field" x-cloak>
					<label for='input-correo'>Correo:</label>
					<input class='input' type='email' id='input-correo' required>
				</div>
				<div class="field" x-cloak>
					<label for='input-pass'>Contraseña:</label>
					<input class='input' type='password' id='input-pass' required>
				</div>
				<div class="field" x-show="empresa" x-transition x-cloak>
					<label for='input-cif'>CIF:</label>
					<input class='input' type='text' id='input-cif' required>
				</div>
				<div class="field" x-cloak>
					<label for='input-nombre'>Nombre:</label>
					<input class='input' type='text' id='input-nombre' required>
				</div>
				<div class="field" x-cloak x-show="empresa">
					<label for='input-nombre'>Teléfono:</label>
					<input class='input' type='text' id='input-tel' required>
				</div>
				<div class="field select" x-show="usuario" class="select is-link" x-transition x-cloak>
					<select id='select-rol'>
						<option value='0' selected>Usuario normal</option>
						<option value='1'>Administrador</option>
					</select>
				</div>
				<div class="field" x-show="empresa" x-transition x-cloak>
					<label for='input-dir'>Dirección:</label>
					<input class='input' type='text' id='input-dir'>
				</div>
				<div class="field" x-show="empresa" x-transition x-cloak>
					<label for='input-prov'>Provincia:</label>
					<input class='input' type='text' id='input-prov'>
				</div>
				<div class="buttons field" x-cloak>
					<button class='button' id='btn-crear-usu'>CREAR</button>
					<button id='btn-borrar-datos' class="button"><i class="fa-solid fa-eraser"></i></button>
				</div>
			</div>
		</div>
		<div id='lista-usuarios' class="column container">
			<div class="title">
				Usuarios:
			</div>
			<div class="user-list">

			</div>
		</div>
	</div>
	
</main>{% endblock %}
