<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brandico Mi Perfil</title>
    <!-- Importar Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Importar los iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/miperfil.css') }}">
</head>
<body>
<!-- Header -->
<header class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <figure class="image is-64x64">
                    <img src="{{ asset('img/BrandicoLogo2White.png') }}" alt="icono BRANDICO">
                </figure>
                <div style="white-space: nowrap; align-self: center">
                    <h1 class="title">BRANDICO</h1>
                </div>
            </div>
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <a href="{{ path('controlador_logout') }}" class="navMenuItem">
                    <span class="navMenuItem-label">Logout</span>
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="columns is-gapless">
    <div class="column espacioblanco is-2"></div>
    <div class="column">
        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content contenido">
                            <form x-data="userEditData()" @submit.prevent="saveChanges">
                                <a href="{{ path('miperfil') }}"><ion-icon name="arrow-back-outline"></ion-icon> Volver</a>
                                <div class="field">
                                    <label class="label" for="direction">
                                        <h1>Dirección</h1>
                                    </label>
                                    <div class="control has-icons-right">
                                        <input class="input" id="direction" type="text" name="direction" x-model="formData.direction" @input="validateNoEmpty('direction')" :class="directionValid ? 'is-success' : ''">
                                        <span x-show="formData.direction && directionValid" class="icon is-right has-text-success"><ion-icon name="checkmark"></ion-icon></span>
                                        <p x-show="formData.direction && !directionValid" class="has-text-left  has-text-danger">Debe rellenar el campo</p>
                                        <span x-show="formData.direction && !directionValid" class="icon is-right has-text-danger"><ion-icon name="close"></ion-icon></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control buttons publish">
                                        <button class="button is-link" :disabled="!directionValid">Guardar</button>
                                    </div>
                                </div>
                                <div x-text="formMessage"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="column espacioblanco is-2"></div>
</section>
<script>
    const FORM_URL = "{{ path('actualizardireccion') }}"

    function userEditData() {
        return {
            formData: {
                direction: "{{ user.direccion }}",
            },
            directionValid: true,
            formMessage: "",

            //Validar no empty
            validateNoEmpty(campo) {
                if (!this.formData[campo].length)
                    this[campo + 'Valid'] = false
                else
                    this[campo + 'Valid'] = true
            },

            saveChanges() {
                fetch(FORM_URL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                    },
                    body: JSON.stringify({
                        direction: this.formData.direction,
                    }),
                })
                    .then((response) => {
                        if (response.status === 201) {
                            window.location.href = "{{ path('miperfil') }}"
                        }
                    })
                    .catch((error) => {
                        this.formMessage = "Algo ha ido mal"
                    })
            }
        }
    }
</script>
</body>
