<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brandico Explorar</title>
    <!-- Importar Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Importar los iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="{{ asset('css/explorar.css') }}">
</head>
<body>
<!-- Header -->
<header class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <figure class="image is-64x64">
                    <img src="{{ asset('img/BrandicoLogo2White.png') }}" alt="icono BRANDICO">
                </figure>
                <div style="white-space: nowrap; align-self: center">
                    <h1 class="title">BRANDICO</h1>
                </div>
            </div>
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <a href="{{ path('controlador_logout') }}" class="navMenuItem">
                    <span class="navMenuItem-label">Logout</span>
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</header>

<section class="columns is-gapless">
    <!-- Navigation -->
    <div class="is-fixed-width">
        <div class="card">
            <div class="card-content">
                <nav class="navbar is-flex is-flex-direction-column" role="navigation" aria-label="main navigation">
                    <a class="navbar-item" href="{{ path('controlador_portal_inicio') }}">
                        <div class="navbar-item-content">
                            <ion-icon name="home-outline"></ion-icon>
                            <span class="navbar-item-text">Inicio</span>
                        </div>
                    </a>
                    <a class="navbar-item focus" href="{{ path('explorar') }}">
                        <div class="navbar-item-content">
                            <ion-icon name="search-outline"></ion-icon>
                            <span class="navbar-item-text">Explorar</span>
                        </div>
                    </a>
                    <a class="navbar-item" href="{{ path('miperfil') }}">
                        <div class="navbar-item-content">
                            <ion-icon name="person-outline"></ion-icon>
                            <span class="navbar-item-text">Perfil</span>
                        </div>
                    </a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="navbar-item" href="{{ path('controlador_portal_admin') }}">
                        <div class="navbar-item-content">
                            <ion-icon name="settings-outline"></ion-icon>
                            <span class="navbar-item-text">Zona Admin</span>
                        </div>
                    </a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    <!-- Secciones Buscar y explorar -->
    <div class="column">
        <!-- Search Box -->
        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form x-data="searchUsers()" @submit="getUserDetails">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input type="text" class="input" placeholder="Buscar usuarios" x-model="searchTerm" @input="getUsers(searchTerm)">
                                        <span class="icon is-left"><ion-icon name="search"></ion-icon></span>
                                    </div>
                                </div>
                                <div class="box" x-show="users.length && searchTerm.length">
                                    <dl class="user-list">
                                        <template x-for="user in users" :key="user.id">
                                            <dt class="user-item" @click="goToProfile(user.id)">
                                                <figure class="avatar image is-64x64 mr-0">
                                                    <img class="" :src="`${assetBaseFotoPerfil}${user.foto}`" alt="User Avatar">
                                                </figure>
                                                <div class="user-details">
                                                    <h4 class="user-name" x-text="user.nombre"></h4>
                                                    <p class="user-email" x-text="user.correo"></p>
                                                </div>
                                            </dt>
                                        </template>
                                    </dl>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Post Feed recomendados -->
    </div>
    <div class="column espacioblanco is-2"></div>
    <button class="scroll-to-top" title="Volver arriba">
        <span class="icon">
            <ion-icon name="arrow-up-outline"></ion-icon>
        </span>
    </button>
</section>
<script>
    const SEARCH_USERS_URL = "{{ path('searchusers') }}"
    const USER_PROFILE_URL = "{{ path('getprofile', {'userId': '__userId__'}) }}"
    const assetBaseFotoPerfil = "{{ asset('img/perfiles/') }}"

    //Para el botón para subir arriba
    document.addEventListener('DOMContentLoaded', function () {
        var scrollBtn = document.querySelector('.scroll-to-top');

        window.addEventListener('scroll', function () {
            if (window.pageYOffset > 300) {
                scrollBtn.classList.add('show');
            } else {
                scrollBtn.classList.remove('show');
            }
        });

        scrollBtn.addEventListener('click', function (e) {
            e.preventDefault();
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    });

    function searchUsers() {
        return {
            searchTerm: '',
            users: [],

            getUsers(searchTerm) {
                if (!this.searchTerm.length)
                    return

                fetch(SEARCH_USERS_URL, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                    },
                    body: JSON.stringify({
                        searchTerm: this.searchTerm,
                    }),
                })
                    .then(response => response.json())
                    .then(data => {
                        this.users = data
                    })
                    .catch(error => {
                        console.error(error)
                    })
            },

            getUserDetails(userId) {
                const userDetailsUrl = USER_DETAILS_URL.replace('__userId__', userId)
                fetch(userDetailsUrl, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                        Accept: 'application/json',
                    }
                })
                    .then(response => {
                        if(!response.ok) {
                            throw new Error('Error en la petición')
                        }
                        return response.json()
                    })
                    .then(data => {
                        // Aquí puedes hacer algo con la respuesta del controlador, como redireccionar a la página userProfile.html.twig
                        window.location.href = userDetailsUrl;  // Redireccionar a la página de perfil
                    })
                    .catch(error => {
                        console.log(error)
                    })
            },

            goToProfile(userId) {
                const userProfileUrl = USER_PROFILE_URL.replace('__userId__', userId)
                window.location.href = userProfileUrl
            }
        }
    }
</script>
</body>
</html>