<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Brandico Mi Perfil</title>
    <!-- Importar Bulma CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <!-- Importar los iconos -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="icon" href="{{ asset('img/logoHeader.png') }}">
    <link rel="stylesheet" href="{{ asset('css/miperfil.css') }}">
</head>
<body>
<!-- Header -->
<header class="hero is-primary is-small">
    <div class="hero-body">
        <div class="container">
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <figure class="image is-64x64">
                    <img src="{{ asset('img/BrandicoLogo2White.png') }}" alt="icono BRANDICO">
                </figure>
                <div style="white-space: nowrap; align-self: center">
                    <h1 class="title">BRANDICO</h1>
                </div>
            </div>
            <div class="is-flex is-align-items-center is-justify-content-flex-start">
                <a href="{{ path('controlador_logout') }}" class="navMenuItem">
                    <span class="navMenuItem-label">Logout</span>
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="columns is-gapless">
    <div class="column espacioblanco is-2"></div>
    <div class="column">
        <section class="section">
            <div class="container">
                <div class="card">
                    <div class="card-content">
                        <div class="content contenido">
                            <form x-data="userEditData()" @submit.prevent="saveChanges">
                                <a href="{{ path('miperfil') }}"><ion-icon name="arrow-back-outline"></ion-icon> Volver</a>
                                <div class="field">
                                    <label class="label" for="photo">
                                        <h1>Imagen de Perfil</h1>
                                    </label>
                                    <div class="has-text-centered">
                                        <img class="imagen is-250x250" src="{{ asset('img/perfiles/' ~ user.foto) }}" alt="Imagen de perfil pequeña redonda">
                                    </div>
                                    <div class="control has-text-centered">
                                        <input type="file" id="photo" name="photo" accept="image/*" @change="validatePhoto($event)">
                                        <span x-show="formData.photo && photoValid" class="icon is-right has-text-success"><ion-icon name="checkmark"></ion-icon></span>
                                        <p x-show="formData.photo && !photoValid" class="has-text-danger">No es un formato válido</p>
                                        <span x-show="formData.photo && !photoValid" class="icon is-right has-text-danger"><ion-icon name="close"></ion-icon></span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control buttons publish">
                                        <button class="button is-link" :disabled="!photoValid">Cambiar</button>
                                    </div>
                                </div>
                                <div x-text="formMessage"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="column espacioblanco is-2"></div>
</section>
<script>
    const FORM_URL = "{{ path('actualizarfoto') }}"

    function userEditData() {
        return {
            formData: {
                photo: null,
            },
            photoValid: true,
            formMessage: "",

            validatePhoto(event) {
                const fileInput = event.target
                const file = fileInput.files[0]
                const allowedExtensions = ['jpg', 'jpeg', 'png']
                const extension = file.name.split('.').pop().toLowerCase()

                if (!allowedExtensions.includes(extension)) {
                    this.photoValid = false
                } else {
                    this.photoValid = true
                    this.formData.photo = file
                }
            },

            saveChanges() {
                if (!this.formData.photo) {
                    return
                }

                if (!this.photoValid) {
                    return
                }

                const formData = new FormData()
                formData.append('photo', this.formData.photo)

                fetch(FORM_URL, {
                    method: "POST",
                    body: formData,
                })
                    .then((response) => {
                        if (response.status === 201) {
                            window.location.href = "{{ path('miperfil') }}"
                        }
                    })
                    .catch((error) => {
                        this.formMessage = "Algo ha ido mal"
                    })
            }
        }
    }
</script>
</body>
